@import "../archland/theme/base.css";

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @border;
  background-color: @background;
}

label {
  font-family: var(--main-font);
  font-size: 11pt;
  color: @foreground;
}

image {
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @border;
}
