@define-color background #0e0f11;
@define-color foreground #faf9f9;
@define-color border #292b2e;

/* Standard font family - GTK CSS doesn't support CSS variables for non-color values
 * Use: font-family: "JetBrainsMono Nerd Font"; */
